<h1>{{playlist.title}}</h1>
<p>{{playlist.created_by.username}}</p>
<ol>
    {{#each playlist.tracks}}
        <li>
            <div class="row">

                {{!-- DISPLAYS ALBUM COVER --}}

               <div class="col-sm-1">
                {{#with this.album.images.[2]}}
                <img src={{this.url}}>
                {{/with}}
               </div>

               <div class="col-lg-6">
                {{!-- DISPLAYS TRACK NAME --}}
                   <h3>{{this.name}}</h3>

                {{!-- DISPLAYS ARTIST --}}
                   {{#each this.album.artists}}
                    <p>{{this.name}}</p>
                    {{/each}}
               </div>
        </li>
    {{/each}}
</ol>

{{#if author}}
    <form action="/playlist/search/{{playlist._id}}" method="POST">

        <input type="text" placeholder="search" id="search" name="search">
        <button type="submit" class="btn btn-outline-success">Submit</button>

    </form>
{{/if}}

{{#if search}} 

<ol>
            {{#each tracks}}

           <li>
                <div class="row">

                {{!-- DISPLAYS ALBUM COVER --}}

               <div class="col-sm-1">
                {{#with this.album.images.[2]}}
                <img src={{this.url}}>
                {{/with}}
               </div>

               <div class="col-lg-6">
                {{!-- DISPLAYS TRACK NAME --}}
                   <h3>{{this.name}}</h3>

                {{!-- DISPLAYS ARTIST --}}
                   {{#each this.album.artists}}
                    <p>{{this.name}}</p>
                    {{/each}}
               </div>
               

                <div class="col-lg-3">
                    <form action="/playlist/add" method="POST">
                    <input type="hidden" name="track_id" value="{{ this.id }}">
                    <input type="hidden" name="playlist_id" value="{{ this.playlist }}">

                    <input type="submit" value="Add to playlist" class="btn">
                    </form>
                    
                </div>

               

                </div>

           </li>

            {{/each}}

        </ol>

{{/if}}




                    

