<div class="container">

{{#if library}}
<h1>Your Library</h1>
<strong ><a href="/playlist/new">New Playlist</a> </strong>

{{else}}
<h1>All Public Playlists</h1>
{{/if}}

    <div class="row">
    {{#each displayed_playlists}}
   
    <div class="card col-lg-2 py-3 bg-light m-2" >
       
        {{#with this.tracks.[0].album.images.[0]}}
            <img class=""src={{this.url}}>
        {{/with}}
        <div class="card-body">
        <h3 class="pt-4"><a href='/playlist/{{this._id}}'>{{this.title}}</a></h3>
        <small>By: {{this.created_by.username}}</small><br>       
        </div>

        </div>


        

    

    {{/each}}
    </div>




</div>
