<div class="text-center">
<h1>{{playlist.title}}</h1>
<p>Created By: {{playlist.created_by.username}}</p>
</div>
<div class="container">

<ol>
    {{#each playlist.tracks}}
        <li>
            <div class="row">

                {{!-- DISPLAYS ALBUM COVER --}}

               <div class="col-sm-1">
                {{#with this.album.images.[2]}}
                <img src={{this.url}}>
                {{/with}}
               </div>

               <div class="col-lg-9">
                {{!-- DISPLAYS TRACK NAME --}}
                   <h3>{{this.name}}</h3>

                {{!-- DISPLAYS ARTIST --}}
                   {{#each this.album.artists}}
                    <p>{{this.name}}</p>
                    {{/each}}
               </div>

            {{#if this.author}}
               <div class="col-lg-2">
                    {{!-- <a href="/playlist/delete-song/{{this._id}}">Remove Track</a> --}}
                    <form action="/playlist/deletesong" method="POST">
                        <input type="hidden" name="track_id_song" value="{{ this.id }}">
                        <input type="hidden" name="playlist" value="{{ this.playlist }}">


                        <input type="submit" value="Remove Track" class="btn">
                    </form>

               </div>
            {{/if}}

        </li>
    {{/each}}
</ol>

{{#if author}}
    <a href="/playlist/delete/{{playlist._id}}">Delete Playlist</a>

    <form action="/playlist/search/{{playlist._id}}" method="POST">
        <label>Add Songs to {{playlist.title}}</label> <br>
        <input type="text" placeholder="search" id="search" name="search">
        <button type="submit" class="btn btn-outline-success">Submit</button>

    </form>


    <form action="/loginspotify" method="get">
        <input type="hidden" name="playlist" value="{{playlist._id}}">
        <button type="submit" class="btn btn-outline-success">Post to Spotify</button>

    </form>
{{/if}}

{{#if search}} 
<h2>Showing results for: {{search}}</h2>


<ol>
            {{#each tracks}}

           <li>
                <div class="row">

                {{!-- DISPLAYS ALBUM COVER --}}

               <div class="col-sm-1">
                {{#with this.album.images.[2]}}
                <img src={{this.url}}>
                {{/with}}
               </div>

               <div class="col-lg-9">
                {{!-- DISPLAYS TRACK NAME --}}
                   <h3>{{this.name}}</h3>

                {{!-- DISPLAYS ARTIST --}}
                   {{#each this.album.artists}}
                    <p>{{this.name}}</p>
                    {{/each}}
               </div>
               

                <div class="col-lg-2">
                    <form action="/playlist/add" method="POST">
                    <input type="hidden" name="track_id" value="{{ this.id }}">
                    <input type="hidden" name="playlist_id" value="{{ this.playlist }}">

                    <input type="submit" value="Add to playlist" class="btn btn-outline-success">
                    </form>
                    
                </div>

               

                </div>

           </li>

            {{/each}}

        </ol>

{{/if}}

</div>




                    

