<h1>Showing results for: {{search}}</h1>

    <div class="container mx-auto">
        <form action="/playlist/add/{{playlist._id}}" method="POST">
        
        <ol>
            {{#each tracks}}


           <li>
                <div class="row">

                {{!-- DISPLAYS ALBUM COVER --}}

               <div class="col-sm-1">
                {{#with this.album.images.[2]}}
                <img src={{this.url}}>
                {{/with}}
               </div>

               <div class="col-lg-6">
                {{!-- DISPLAYS TRACK NAME --}}
                   <h3>{{this.name}}</h3>

                {{!-- DISPLAYS ARTIST --}}
                   {{#each this.album.artists}}
                    <p>{{this.name}}</p>
                    {{/each}}
               </div>
                <input type="hidden" name="track_id" value="{{ this }}">

                 <input type="submit" value="Select" class="btn">

               


               

                </div>

           </li>

            {{/each}}

        </ol>
                </form>

    </div>



