<div class="text-center">
<h1>Burnify</h1>
<small>Jennifer's Experiment with the Spotify API</small>

</div>

<div class="d-flex align-content-center flex-wrap jumbotron text-center">
<div class="container text-center my-3">
    <form action="/search" method="POST">

        <input type="text" placeholder="Search for a song..." id="search" name="search" class="col-lg-9 form-control-lg">
        <button type="submit" class="btn-outline-primary form-control-lg">Search</button>

    </form>
</div>
</div>


    <div class="container mx-auto my-4">
        <h2 class="my-2">Showing results for: {{search}}</h2>

        <ol>
            {{#each tracks}}

           <li>
                <div class="row">

                {{!-- DISPLAYS ALBUM COVER --}}

               <div class="col-sm-1">
                {{#with this.album.images.[2]}}
                <img src={{this.url}}>
                {{/with}}
               </div>

               <div class="col-lg-8">
                {{!-- DISPLAYS TRACK NAME --}}
                   <h3>{{this.name}}</h3>

                {{!-- DISPLAYS ARTIST --}}
                   {{#each this.album.artists}}
                    <p>{{this.name}}</p>
                    {{/each}}
               </div>
               

                <div class="col-lg-3">
                    <form action="/playlist/add" method="POST">
                    <input type="hidden" name="track_id" value="{{ this.id }}">
                    <select name="playlist_id">
                        {{#each this.playlist}}
                        <option value="{{this._id}}">{{this.title}}</option>
                        {{/each}}
                    </select>
                    
                    <input type="submit" value="Add Track to CD" class="btn btn-outline-primary">
                    </form>
                    
                </div>

               

                </div>

           </li>

            {{/each}}

        </ol>

    </div>



